/* PANEL */
.break {
  flex-basis: 100%;
  width: 100%;
  height: 0;
  opacity: 0;
}
.no-task-notification {
  padding: 10rem;
}

.task-card-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.task-display-card {
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.task-display-card:has(.task-card-link:hover) {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.task-card-display-dropdown {
  z-index: 2;
}
                  
/* CARD MENU CONTROLS */
.edit-keybind-text {
  max-width: 0;
  overflow: hidden;
  transition: max-width 0.5s ease-in-out;
}

.edit-keybind-button:hover .edit-keybind-text {
  max-width: 9em;
  visibility: visible;
}

.no-display {
  display: none;
}

.meatball-menu {
  position: relative;
  cursor: pointer;
}

.meatball-menu::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: width 0.3s ease, height 0.3s ease;
  transform: translate(-50%, -50%);
}

.meatball-menu:hover::before, .meatball-menu.is-active::before {
  width: 2rem;
  height: 2rem;
}

/* PANEL TASK EDIT SETTINGS MODAL */
.keybind-control {
  width: 6.7rem;
}

.keybind-input {
  cursor: pointer;
}

.keybind-input:focus {
  caret-color: transparent;
}

.task-display {
  height: 80vh;
  max-height: 80vh;
  overflow-y: scroll;
}

.is-fab {
  position: fixed;
  right: 3rem;
  bottom: 2rem;
}

.nonbulma-modal {
  min-width: 50%;
  max-width: 70vw;
  border-radius: 0.5rem;
  background-color: hsl(221, 14%, 98%);
}

#task-edit-modal {
  height: 50vh;
  overflow: hidden; /* To enable task-file-select-control and other subelements to scroll instead of the modal itself */
}
::backdrop {
  background-color: hsla(221, 14%, 4%, 0.86);
}

.task-file-select-control {
  max-height: 35vh; /* TODO: fix this to be a relative percentage of the parent container */
  overflow: scroll;
}

/* PANEL TASK SELECTION MODAL */
:root {
  --circle-constant: 5rem;
}
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */
.container-section {
  display: flex;
  min-width: 50%;
  max-width: 70vw;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: hsl(221, 14%, 98%);
}

.custom-container {
  min-height: fit-content;
  min-width: fit-content;
  /* max-height: 70vh; */
  /* min-width: 50%; */
  /* max-width: 70vw; */
}
.import-task-select-container {
  /* border: 1px solid black; */
  position: relative;
  min-height: 10vh;
  background: #ffffff;
  z-index: 9999;
  border: 1px solid var(--bulma-link-light);
  border-radius: var(--bulma-radius-large);
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}

.import-task-select-container:hover {
  filter: brightness(0.8); /* Darken the element */
  transform: translateY(-5px); /* Lift up the element */
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23); /* Add shadow */
}

.import-task-select-container:active,
.import-task-select-container:focus,
.import-task-select-container:has(> input[type="checkbox"]:checked) {
  filter: brightness(0.6); /* Keep the element darkened */
  transform: translateY(0); /* Reset the lift */
  box-shadow: none; /* Remove shadow */
  outline: none; /* Remove default focus outline */
}

.task-checkbox {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 1;
  opacity: 0;
}

.remaining-anno-count {
  margin-left: auto;
}
.task-select-card-title {
  margin-top: -0.25rem;
}
.fullwidth {
  width: 100%;
}
.text-overflow-hide {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.task-import-modal-background {
  min-height: 100%;
  box-sizing: inherit;
  background: #f9f9f9;
  padding: 1rem;
  max-height: 50vh;
  overflow-y: scroll;
}
.task-import-modal-background > * {
  position: relative;
  box-sizing: border-box;
}