<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>

    <link rel="stylesheet" href="panel.css" />
    <link rel="stylesheet" href="../../shared/styles/global.css" />
    <script type="module" defer src="panel.js"></script>
  </head>
  <body>
    <header class="mb-3">
      <div class="columns" style="background-color: #040064">
        <div class="column is-full">
          <h1 class="title has-text-white ml-3 mt-1">Annotation Task Management</h1>
        </div>
      </div>
    </header>
    <section id="task-management-scrollview">
      <h2 class="subtitle ml-3 mt-5">Your Tasks</h2>
      <div class="task-display container columns is-centered is-fluid">
        <div class="column is-three-quarters">
          {% if task_list %}
            {% for task in task_list %}
              <div class="card task-display-card" data-task_id="{{ task.id }}">
                <div class="card-content">
                  <div class="media">
                    <div class="non-button-card-content media-left">
                      <figure class="image is-64x64">
                        <!-- webpackIgnore: true -->
                        <img
                          src="/panel/get_task_profile_picture?root_folder={{ task.root_folder }}"
                          alt="Placeholder image"
                        />
                      </figure>
                    </div>

                    <div class="non-button-card-content media-content ml-2">
                      <div class="fixed-grid has-3-cols">
                        <div class="grid">
                          <div class="cell">
                            <p class="title is-5">{{ task.title }}</p>
                            <p class="subtitle is-7">Created by: {{ task.creator_name }}</p>
                          </div>
                          <div class="cell">
                            <p class="title is-5">Info</p>
                            <p class="subtitle is-7">
                              Last Updated: {{ task.updated_at | filter_timestamp }}
                            </p>
                            <p class="is-size-7">
                              <span>Root Folder:</span>
                              <span class="is-family-monospace"
                                >{{ task.root_folder | reduce_slashes }}</span
                              >
                            </p>
                          </div>
                          <div class="cell">
                            <p class="title is-5">Status</p>
                            <p class="subtitle is-7">
                              {{ task.labeled_count }} / {{ task.total_count }} annotated
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="task-card-button-container media-right is-flex is-flex-wrap-wrap">
                      <button
                        id="task-edit-button-{{ loop.index0 }}"
                        class="button is-link js-modal-trigger edit-keybind-button pr-2 pl-3"
                        data-target="task-edit-modal-{{ loop.index0 }}"
                        data-task_id="{{ task.id }}"
                      >
                        <span class="icon-text">
                          <span class="icon is-small m-0">
                            <i class="fas fa-cog"></i>
                          </span>
                          <span class="edit-keybind-text">Edit Settings&nbsp;</span>
                          <!-- &nbsp to even out spacing on either side of the button-->
                        </span>
                      </button>

                      <div class="break my-1"></div>

                      <button
                        id="task-delete-button-{{ loop.index0 }}"
                        class="button is-danger has-text-white js-modal-trigger delete-task-button edit-keybind-button pr-2 pl-3"
                        data-task_id="{{ task.id }}"
                      >
                        <span class="icon-text">
                          <span class="icon is-medium m-0">
                            <i class="fas fa-user-minus"></i>
                          </span>
                          <span class="edit-keybind-text">Unassign Task&nbsp;</span>
                          <!-- &nbsp to even out spacing on either side of the button-->
                        </span>
                      </button>

                      <div class="break my-1"></div>
                      <a
                        href="/label?task_id={{ task.id }}"
                        class="button is-primary has-text-white edit-keybind-button pr-2 pl-3"
                      >
                        <span class="icon-text">
                          <span class="icon is-medium m-0">
                            <i class="fas fa-edit"></i>
                          </span>
                          <span class="edit-keybind-text">Annotate! &nbsp;</span>
                          <!-- &nbsp to even out spacing on either side of the button-->
                        </span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>

              {# Need to render task edit dialog inside this for loop #}
              {%
                include
                "task_edit_modal.html.jinja2" with context
              %}
            {% endfor %}
          {% else %}
            <div class="no-task-notification notification has-background-grey-lighter">
              <p class="title is-3 has-text-centered has-text-grey-darker">
                No tasks found. Create or assign yourself a new task to get started.
              </p>
            </div>
          {% endif %}
        </div>
      </div>
    </section>

    <button
      type="button"
      class="is-fab js-modal-trigger button is-primary is-large"
      data-target="task-creation-modal"
    >
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
      <span>New Task</span>
    </button>

    <!-- Task Creation Modal -->
    <dialog id="task-creation-modal" class="nonbulma-modal">
      <div class="tabs is-boxed">
        <ul>
          <li class="task-manage-tab is-active">
            <a class="task-manage-modal-trigger" data-target="task-creation-form">
              <span class="icon is-small"><i class="fas fa-user-edit" aria-hidden="true"></i></span>
              <span>Create New</span>
            </a>
          </li>
          <li class="task-manage-tab">
            <a class="task-manage-modal-trigger" data-target="task-assign-form">
              <span class="icon is-small"
                ><i class="fas fa-hand-pointer" aria-hidden="true"></i
              ></span>
              <span>Select Existing</span>
            </a>
          </li>
        </ul>
      </div>

      <form id="task-creation-form" class="new-task-form">
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label">Task Title</label>
              <div class="control">
                <input
                  id="task-title-input"
                  class="input"
                  type="text"
                  placeholder="Enter title here"
                  name="task-title-input"
                  maxlength="50"
                  required=""
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Root Folder Path</label>
              <div class="control has-icons-left">
                <input
                  id="root-folder-input"
                  class="input"
                  type="text"
                  placeholder="Enter path here"
                  name="root-folder-input"
                  required=""
                />
                <span class="icon is-small is-left">
                  <i class="fas fa-folder"></i>
                </span>
                <p id="root-folder-help-text-danger" class="help is-danger is-hidden"></p>
                <p id="root-folder-help-text-info" class="help is-info is-hidden"></p>
              </div>
            </div>
          </div>
          <fieldset name="label-keybind-input-form-group" class="task-creation-lk-fieldset column">
            <label class="label">Edit Labels and Keybinds</label>
            <div class="field is-grouped label-keybind-input-field mb-1">
              <div class="control is-expanded">
                <input
                  name="label-input-0"
                  class="input label-input"
                  type="text"
                  placeholder="Enter label"
                  maxlength="20"
                  required=""
                />
              </div>
              <div class="control keybind-control has-text-centered">
                <input
                  type="text"
                  name="keybind-input-0"
                  class="input keybind-input"
                  autocomplete="off"
                  readonly=""
                  onfocus="this.removeAttribute('readonly');"
                />
              </div>
            </div>
            <div class="field is-grouped label-keybind-input-field mb-1">
              <div class="control is-expanded">
                <input
                  name="label-input-1"
                  class="input label-input"
                  type="text"
                  placeholder="Enter label"
                  maxlength="20"
                  required=""
                />
              </div>
              <div class="control keybind-control has-text-centered">
                <input
                  type="text"
                  name="keybind-input-1"
                  class="input keybind-input"
                  autocomplete="off"
                  readonly=""
                  onfocus="this.removeAttribute('readonly');"
                />
              </div>
            </div>
            <p class="help is-info dynamic-insert-end-boundary">&nbsp;</p>
            <div id="add-label-button-container" class="control">
              <button class="add-label-button button is-light is-small" type="button">
                <span class="icon">
                  <i class="fas fa-plus"></i>
                </span>
                <span>Add Label</span>
              </button>
            </div>
          </fieldset>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button id="task-creation-submit-button" class="button is-link" type="submit">
              Create Task
            </button>
          </div>
          <div class="control">
            <button
              id="task-creation-form-close-button"
              class="button is-link is-ghost cancel-close"
              type="reset"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>

      <form id="task-assign-form" class="new-task-form is-hidden">
        <div class="container-section">
          <div class="modal-content">
            <div class="field">
              <label class="label is-size-4">Assign to Existing Task</label>
              <div class="task-import-modal-background">
                {% for task in global_task_list %}
                  <div class="import-task-select-container control block columns is-clickable">
                    <input
                      type="checkbox"
                      id="task-checkbox-{{ task.id }}"
                      class="task-checkbox"
                      name="task-checkbox"
                      value="{{ task.id }}"
                    />
                    <div class="column is-flex is-flex-wrap-wrap has-1-cols">
                      <div class="fullwidth is-flex">
                        {% if task.completed == 0 %}
                          <span id="task-progress-tag-0" class="tag is-light task-progress-tag"
                            >Not Started</span
                          >
                        {% elif task.completed == task.total %}
                          <span id="task-progress-tag-0" class="tag is-success task-progress-tag"
                            >Completed</span
                          >
                        {% else %}
                          <span id="task-progress-tag-0" class="tag is-warning task-progress-tag"
                            >In Progress</span
                          >
                        {% endif %}
                        <span
                          class="text-overflow-hide task-select-card-title is-size-5 is-lowercase has-text-weight-bold ml-3"
                          >{{ task.title.replace("-", "_").replace(" ", "-") }}</span
                        >
                      </div>
                      <div
                        class="task-card-footer fullwidth is-flex is-flex-wrap-nowrap is-align-items-flex-end is-justify-content-left"
                        style="margin-bottom: -0.5em"
                      >
                        <div class="task-card-username-display">
                          <span class="icon-text">
                            <span class="icon">
                              <i class="fas fa-user-circle"></i>
                            </span>
                          </span>
                          <span
                            class="text-overflow-hide is-lowercase has-text-weight-light is-size-6"
                            >{{ task.creator_name|truncate_string(20)|e }}</span
                          >
                        </div>
                        <div class="task-card-username-display ml-4">
                          <span class="icon-text">
                            <span class="icon">
                              <i class="fas fa-folder"></i>
                            </span>
                          </span>
                          <span
                            class="text-overflow-hide is-lowercase is-underlined has-text-weight-light is-size-6"
                            >{{ task.root_folder|reduce_slashes()|truncate_string(25)|e }}</span
                          >
                        </div>
                      </div>
                    </div>

                    <div
                      class="task-card-progress-report column is-flex is-flex-wrap-wrap is-flex-direction-column is-justify-content-space-between is-narrow"
                    >
                      <span class="remaining-anno-count is-size-6 is-family-monospace mr-2"
                        >Remaining: {{ task.total - task.completed }}</span
                      >
                      <span class="is-size-6 is-family-monospace mr-2"
                        >Completed: {{ task.completed }}</span
                      >
                      <span class="is-size-6 is-family-monospace mr-2"
                        >Total: {{ task.total }}</span
                      >
                    </div>

                    <div
                      class="task-card-progress-radial column is-narrow"
                      style="box-sizing: border-box; min-height: 0"
                    >
                      {#
                    <svg class="ring-container">
                      <circle class="progress-ring pr-circle"></circle>
                      <text x="50%" y="50%" text-anchor="middle" dy="0.3em" class="progress-text">
                        {{ task.completed // task.total }}
                      </text>
                      <circle class="progress-ring pr-path"></circle>
                    </svg>
                    #}
                      {% include "radial_progress_bar.html.jinja2" %}
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button id="task-assign-submit-button" class="button is-link" type="submit">
              Assign Tasks
            </button>
          </div>
          <div class="control">
            <button
              id="task-assign-form-close-button"
              class="button is-link is-ghost cancel-close"
              type="reset"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </dialog>
  </body>
</html>
