<svg class="ring-container-{{ loop_index }}">
  <circle class="progress-ring pr-circle-{{ loop_index }}" />
  <text x="50%" y="50%" text-anchor="middle" dy="0.3em" class="progress-text">
    {{ ((task.completed / task.total) * 100) | round | int if task.total > 0 else 0 }}%
  </text>
  <circle class="progress-ring pr-path-{{ loop_index }}" />
</svg>

<style>
  :root {
    --circle-constant: 5rem;
  }
  .ring-container-{{ loop_index }} {
    width: var(--circle-constant);
    height: var(--circle-constant);
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }

  .progress-text {
    transform: rotate(90deg);
    transform-origin: 50% 50%;
    fill: var(--bulma-link);
    font-weight: bold;
  }

  .progress-ring {
    fill: transparent;
    stroke-width: calc(0.1 * var(--circle-constant));
    cx: 50%;
    cy: 50%;
    r: calc(0.4 * var(--circle-constant));
  }

  .pr-circle-{{ loop_index }} {
    stroke: #a5acb9;
  }

  .pr-path-{{ loop_index }} {
    stroke: #1e3050;
    stroke-linecap: round;
    stroke-dasharray: calc(2 * pi * 0.4 * var(--circle-constant)); /* circumference: 2 * pi * r */
    /* progress (as decimal) * circumference */
    stroke-dashoffset: calc(
      (1 - {{(task.completed / task.total) if task.total > 0 else 0}}) *
        (2 * pi * 0.4 * var(--circle-constant))
    );
  }
</style>
