<dialog id="task-edit-modal-{{ loop.index0 }}" class="nonbulma-modal">
  <form id="task-edit-form" data-task_id="{{ task.id }}">
    <!-- will be submitted via fetch request so attributes not specified-->
    <div class="columns is-2">
      <div class="column is-half">
        <fieldset name="label-keybind-input-form-group" class="task-creation-lk-fieldset column">
          <label class="label">Edit Labels and Keybinds</label>

          <!-- single quotes needed below since json string has double quotes -->
          <!-- prettier-ignore -->
          <label-keybind-input 
            name="label-keybind-data"
            lkFields="{{ task_label_keybinds[loop.index0] | e }}" 
          ></label-keybind-input>
        </fieldset>
      </div>
      <div class="column is-half">
        <fieldset name="file-select-form-group" class="column">
          <label class="label">Select Images to Include</label>
          <div class="field">
            <div class="control task-file-select-control">
              {% for file_info in task.files %}
                <label class="b-checkbox checkbox task-file-select">
                  {% if file_info.is_selected %}
                    <input
                      type="checkbox"
                      name="file-{{ loop.index0 }}"
                      value="{{ file_info.path }}"
                      checked
                    />
                  {% else %}
                    <input
                      type="checkbox"
                      name="file-{{ loop.index0 }}"
                      value="{{ file_info.path }}"
                    />
                  {% endif %}
                  <span class="check is-info"></span>
                  <span class="control-label">{{ file_info.path | get_basefile_name }}</span>
                </label>
              {% endfor %}
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button id="task-edit-form-submit-button" class="button is-link" type="submit">
          Submit Changes
        </button>
      </div>
      <div class="control">
        <button class="button is-link is-ghost cancel-close" type="reset">Cancel</button>
      </div>
    </div>
  </form>
</dialog>
