<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../assets/css/bulma-checkbox.css">
    <script defer src="../scripts/panel.js"></script> -->

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/assets/css/bulma-checkbox.css">
    <script type="module" defer src="/static/scripts/panel.js"></script>

    <title>Login Page</title>
</head>
<body>
    <header class="mb-3">
        <div class="columns" style="background-color: #040064">
            <div class="column is-full">
                <h1 class="title has-text-white ml-3 mt-1">Annotation Task Management</h1>
            </div>
        </div>
    </header>
    <section id="task-management-scrollview">
        <h2 class="subtitle ml-3 mt-5">Your Tasks</h2>
        <div class="task-display container columns is-centered is-fluid">
            <div class="column is-three-quarters">

                {% if task_list %}
                    {% for task in task_list %}
                        <div class="card task-display-card" data-task_id = "{{ task.id }}">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-64x64">
                                            <img src="/panel/get_task_profile_picture?root_folder={{ task.root_folder }}" alt="Placeholder image">
                                        </figure>
                                    </div>
                                    <div class="media-content ml-2">
                                        <div class="fixed-grid has-3-cols">
                                            <div class="grid">
                                                <div class="cell">
                                                    <p class="title is-5">{{task.title}}</p>
                                                    <p class="subtitle is-7">Created by: {{task.creator_name}}</p>
                                                </div>
                                                <div class="cell">
                                                    <p class="title is-5">Info</p>
                                                    <p class="subtitle is-7">Last Updated: {{ task.updated_at|filter_timestamp }}</p>
                                                    <p class="is-size-7">
                                                        <span>Root Folder:</span>
                                                        <span class="is-family-monospace">{{task.root_folder|reduce_slashes}}</span>
                                                    </p>
                                                </div>
                                                <div class="cell">
                                                    <p class="title is-5">Status</p>
                                                    <p class="subtitle is-7">{{task.labeled_count}} / {{task.total_count}} annotated</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="media-right">
                                        <button id="task-edit-button-{{ task.id }}" class="button is-link js-modal-trigger edit-keybind-button pr-2 pl-3" data-target="task-edit-modal" data-task_id="{{ task.id }}">
                                            <span class="icon-text">
                                                <span class="icon is-small m-0">
                                                    <i class="fas fa-pencil"></i>
                                                </span>
                                                <span class="edit-keybind-text">Edit Settings&nbsp</span> <!-- &nbsp to even out spacing on either side of the button-->
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-task-notification notification has-background-grey-lighter">
                        <p class="title is-3 has-text-centered has-text-grey-darker"> No tasks found. Create or assign yourself a new task to get started. </p>
                    </div>
                {% endif %}

            </div>
        </div>
    </section>
    <button type="button" class="is-fab js-modal-trigger button is-primary is-large" data-target="task-creation-modal">
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>
        <span>New Task</span>
    </button>

    <!-- Task Creation Modal -->
    <dialog id="task-creation-modal" class="nonbulma-modal">
        <div class="tabs is-boxed">
            <ul>
                <li class="task-manage-tab is-active">
                    <a class="task-manage-modal-trigger" data-target="task-creation-form">
                        <span class="icon is-small"><i class="fas fa-user-edit" aria-hidden="true"></i></span>
                        <span>Create New</span>
                    </a>
                </li>
                <li class="task-manage-tab">
                    <a class="task-manage-modal-trigger" data-target="task-import-form">
                        <span class="icon is-small"><i class="fas fa-hand-pointer" aria-hidden="true"></i></span>
                        <span>Select Existing</span>
                    </a>
                </li>
            </ul>
        </div>
        <form id="task-creation-form" class="new-task-form" action="{{ new_task_route }}" method="post">
            <div class="columns">
                <div class="column is-half">
                    <div class="field">
                        <label class="label">Task Title</label>
                        <div class="control">
                            <input id="task-title-input" class="input" type="text" placeholder="Enter title here" name="task-title-input" maxlength=50 required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Root Folder Path</label>
                        <div class="control has-icons-left">
                            <input id="root-folder-input" class="input" type="text" placeholder="Enter path here" name="root-folder-input" required>
                            <span class="icon is-small is-left">
                                <i class="fas fa-folder"></i>
                            </span>
                            <p id="root-folder-help-text-danger" class="help is-danger is-hidden"></p>
                            <p id="root-folder-help-text-info" class="help is-info is-hidden"></p>
                        </div>
                    </div>
                </div>
                <fieldset id="task-creation-lk-fieldset" name="label-keybind-input-form-group" class="column">
                    <label class="label">Edit Labels and Keybinds</label> 
                    <div class="field is-grouped label-keybind-input-field mb-1">
                        <div class="control is-expanded">
                            <input name="label-input-0" class="input label-input" type="text" placeholder="Enter label" maxlength=20 required>
                        </div>
                        <div class="control keybind-control has-text-centered">
                            <input type="text" name="keybind-input-0" class="input keybind-input" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" />
                        </div>
                    </div>
                    <div class="field is-grouped label-keybind-input-field mb-1">
                        <div class="control is-expanded">
                            <input name="label-input-1" class="input label-input" type="text" placeholder="Enter label" maxlength=20 required>
                        </div>
                        <div class="control keybind-control has-text-centered">
                            <input type="text" name="keybind-input-1" class="input keybind-input" autocomplete="off" readonly onfocus="this.removeAttribute('readonly');" />
                        </div>
                    </div>
                    <p class="help is-info dynamic-insert-end-boundary"></p>
                    <div id="add-label-button-container" class="control">
                        <button id="add-label-button" class="button is-light is-small" type="button">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Add Label</span>
                        </button>
                    </div>
                </fieldset>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button id="task-creation-submit-button" class="button is-link" type="submit">Create Task</button>
                </div>
                <div class="control">
                    <button id="task-creation-form-close-button" class="button is-link is-ghost cancel-close" type="reset">Cancel</button>
                </div>
            </div>
        </form>
        <form id="task-import-form" class="new-task-form is-hidden" action=" {{ existing_task_route }}" method="post">
            some text and other stuff here
        </form>
    </dialog>
    <dialog id="task-edit-modal" class="nonbulma-modal">
        <form id="task-edit-form"> <!-- will be submitted via fetch request so attributes not specified-->
            {# <div class="columns">
                <div class="column is-half">
                    <label class="label">Edit Labels and Keybinds</label> 

                    { % for label_keybind in task_label_keybinds % }
                        <div class="field is-flex is-flex-wrap-nowrap mb-1">
                            <div class="control is-flex-grow-1">
                                <input class="input" type="text" value="{{ label_keybind.label }}" required>
                            </div>
                            <div class="control is-flex-grow-0">
                                <div class="select">
                                    <select>
                                        <option {% if label_keybind.keybind == 'A' %}selected{% endif %}>A</option>
                                        <option {% if label_keybind.keybind == 'S' %}selected{% endif %}>S</option>
                                        <option {% if label_keybind.keybind == 'D' %}selected{% endif %}>D</option>
                                        <option {% if label_keybind.keybind == 'F' %}selected{% endif %}>F</option>
                                        <option {% if label_keybind.keybind == 'J' %}selected{% endif %}>J</option>
                                        <option {% if label_keybind.keybind == 'K' %}selected{% endif %}>K</option>
                                        <option {% if label_keybind.keybind == 'L' %}selected{% endif %}>L</option>
                                        <option {% if label_keybind.keybind == ';' %}selected{% endif %}>;</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    { % endfor % }
                    
                </div>
                <div class="column is-half">
                    <label class="label">Select Images to Include</label>
                    <div class="field">
                        <div class="control task-file-select-control">
                            <label class="b-checkbox checkbox task-file-select">
                                <input type="checkbox" checked>
                                <span class="check is-info"></span>
                                <span class="control-label">{{filename}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div> #}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit Changes</button>
                </div>
                <div class="control">
                    <button class="button is-link is-ghost cancel-close" type="reset">Cancel</button>
                </div>
            </div>
        </form>
    </dialog>
</body>
</html>